/*parametric mix-in*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  background-color: black;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Russo One", sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.nav-top {
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 1;
  top: 0;
}
.nav-top nav {
  display: flex;
  justify-content: space-around;
}
.nav-top nav a {
  font-size: 2rem;
  margin: 20px;
}
.header {
  width: 100%;
  height: 600px;
  background: grey;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  align-self: center;
  flex: 0 0 auto;
}
@media (max-width: 500px) {
  .header {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.header .image-header {
  width: 100%;
  height: auto;
  background: red;
  margin: 1% auto;
}
.header .image-header img {
  width: 100%;
  height: 100%;
  margin: 1% auto;
}
.header .title-header {
  width: 45%;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .title-header h2 {
  color: purple;
  padding: 1rem;
  background: blue;
}
.body-content,
.body-content-a {
  width: 100%;
  height: 400px;
  background: yellow;
  border: 1px solid black;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media (max-width: 500px) {
  .body-content,
  .body-content-a {
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding-top: 10%;
  }
}
.body-content #OurVision,
.body-content-a #OurVision,
.body-content #Investors,
.body-content-a #Investors {
  width: 50%;
  background: grey;
  padding: 7.5%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .body-content #OurVision,
  .body-content-a #OurVision,
  .body-content #Investors,
  .body-content-a #Investors {
    width: 100%;
  }
}
.body-content #OurVision h3,
.body-content-a #OurVision h3,
.body-content #Investors h3,
.body-content-a #Investors h3,
.body-content #OurVision p,
.body-content-a #OurVision p,
.body-content #Investors p,
.body-content-a #Investors p {
  background: grey;
}
.body-content .image-body,
.body-content-a .image-body {
  width: 50%;
  background: purple;
}
@media (max-width: 500px) {
  .body-content .image-body,
  .body-content-a .image-body {
    width: 100%;
  }
}
.body-content .image-body img,
.body-content-a .image-body img {
  width: 100%;
  height: 100%;
  margin: auto;
}
.body-content-rev {
  width: 100%;
  height: 400px;
  background: yellow;
  border: 1px solid black;
  margin: 10% auto;
  flex-direction: row-reverse;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media (max-width: 500px) {
  .body-content-rev {
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
}
.body-content-rev #Success,
.body-content-rev #Founders {
  width: 50%;
  background: grey;
  padding: 7.5%;
}
@media (max-width: 500px) {
  .body-content-rev #Success,
  .body-content-rev #Founders {
    width: 100%;
  }
}
.body-content-rev #Success h3,
.body-content-rev #Founders h3,
.body-content-rev #Success p,
.body-content-rev #Founders p {
  background: grey;
}
.body-content-rev .image-body {
  width: 50%;
  background: purple;
}
@media (max-width: 500px) {
  .body-content-rev .image-body {
    width: 100%;
  }
}
.body-content-rev .image-body img {
  width: 100%;
  height: 100%;
  margin: auto;
}
footer {
  width: 90rem;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
}
@media (max-width: 500px) {
  footer {
    width: 95%;
    text-align: center;
    margin: 0 auto;
  }
}
footer h2,
footer email,
footer address,
footer phone {
  font-size: 2rem;
  background: white;
}
