// Home Content

.nav-top {
  width: 100%;
  height: 4rem;
  //margin: auto;
  position: fixed;
  z-index: 1;
  top: 0;

  nav {
    display: flex;
    justify-content: space-around;

    a {
      font-size: 2rem;
      margin: 20px;
    }
  }
}

.header {
  width: 100%;
  height: 600px;
  background: grey;
  border: 1px solid black;
  margin: 0 auto; //center
  display: flex;
  align-self: center;
  flex: 0 0 auto;

  @media @phone {
    margin-bottom: 1rem;
    text-align: center;
  }

  .image-header {
    width: 100%;
    height: auto;
    background: red;
    margin: 1% auto;

    img {
      width: 100%;
      height: 100%;
      margin: 1% auto;
    }
  }
  .title-header {
    width: 45%;
    background: blue;
    display: flex;
    .flex();
    flex-direction: column;
    //justify-content: center;
    //align-items: center;

    h2 {
      color: purple;
      padding: 1rem;
      background: blue;
    }
  }
}

.body-content,
.body-content-a {
  width: 100%;
  height: 400px;
  background: yellow;
  border: 1px solid black;
  margin: 10% auto; //center;
  display: flex;
  .flex-body();


  @media @phone {
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding-top: 10%;
  }

  #OurVision,
  #Investors {
    width: 50%;
    background: grey;
    padding: 7.5%; //vertical center
    display: flex;
    flex-direction: column;

    @media @phone {
      width: 100%;
    }

    h3,
    p {
      background: grey;
    }
  }

  .image-body {
    width: 50%;
    background: purple;

    @media @phone {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      margin: auto;
    }
  }
}

.body-content-rev {
  width: 100%;
  height: 400px;
  background: yellow;
  border: 1px solid black;
  margin: 10% auto; //center;
  display: flex;
  flex-direction: row-reverse;
  .flex-body();

  @media @phone {
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  #Success,
  #Founders {
    width: 50%;
    background: grey;
    padding: 7.5%; //vertical center

    @media @phone {
      width: 100%;
    }

    h3,
    p {
      background: grey;
    }
  }
  .image-body {
    width: 50%;
    background: purple;

    @media @phone {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      margin: auto;
    }
  }
}
footer {
  width: 90rem;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;

  @media @phone {
    width: 95%;
    text-align: center;
    margin: 0 auto; // centers box
  }

  h2,
  email,
  address,
  phone {
    font-size: 2rem;
    background: white;
  }
}
